html,
body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

body,#root {
  display: flex;
  flex-direction: column;
}

#root,.App {
  flex-grow: 1;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}